
@model IEnumerable<Clinica.Models.Tratamiento>
<div class="container-fluid">
    <div class="container-fluid">

        <!-- Page Heading --><center>
    <h1 class="h3 mb-2 text-gray-800">Listar Tratamientos | Odontologos</h1></center>
    <p class="mb-4"> <a target="_blank" href=""></a>.</p>

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <center>
                <form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
                    
                </form>
            </center>

            <h6 class="m-0 font-weight-bold text-primary"></h6>
        </div>

        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th width="10">#</th>


                            <th width="250"><center>Nombre Tratamiento</center> </th>


                            <th width="150"><center>Opciones</center></th>
                        </tr>
                    </thead>
                    <tfoot>

                        <tr>
                        </tr>
                    </tfoot>
                    <tbody>
                        @foreach (var t in Model)
                        {
                            <tr>
                                <td>@t.Id</td>
                                <td><center>@t.Nombres</center></td>


                                <td>
                                    <center>
                                        <a href="@Url.Action("View", "Tratamientos", new { id = t.Id })"><center><input type="button" value="Ver" class="btn btn-primary"></center></a>
                                    </center>
                                </td>
                            </tr>

                        }



                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>
    <!-- /.container-fluid -->
</div>
<!-- End of Main Content -->
<!-- Footer -->

<!-- End of Footer -->
    </div>
<!-- End of Content Wrapper -->
  </div>
<!-- End of Page Wrapper -->
<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

<!-- Logout Modal-->
<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                <a class="btn btn-primary" href="login.html">Logout</a>
            </div>
        </div>
    </div>
</div>

<!-- Bootstrap core JavaScript-->
<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Core plugin JavaScript-->
<script src="vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Custom scripts for all pages-->
<script src="js/sb-admin-2.min.js"></script>

<!-- Page level plugins -->
<script src="vendor/datatables/jquery.dataTables.min.js"></script>
<script src="vendor/datatables/dataTables.bootstrap4.min.js"></script>

<!-- Page level custom scripts -->
<script src="js/demo/datatables-demo.js"></script>

</body>

</html>
