@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Success</title>
</head>
<body>
    <center>
        <img src="~/Content/img/bdent.jpg" width="300" height="150" />
        <br /> <br />



        <h1><strong style="color:#212F3D">BioEsthetic-Dent</strong></h1>
        <br />
        <h1><strong style="color:#212F3D">Bienvenido Odontologo</strong></h1>
        <br />
        <p class="lead" style="color:#212F3D">Estamos para ayudarte a Sonrreir Mejor.</p>

        <br />
        <a class="btn btn-primary" href="@Url.Action("home","Doctor")">Ingresar</a>


    </center>

    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="js/sb-admin-2.min.js"></script>




</body>
</html>



