

<div class="container-fluid">
    <div class="container-fluid">


        <!-- Page Heading -->
        <h1 class="h3 mb-2 text-gray-800">Listar Remuneraciones</h1>
        <p class="mb-4"> <a target="_blank" href=""></a>.</p>



        <!-- DataTales Example -->
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary"></h6>
            </div>
            <div class="card-body">
                <div class="table-responsive">

                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">



                        <div class="col-sm-12 col-md-6">

                            <div id="dataTable_filter" class="dataTables_filter">
                                <!--<label><input type="search" class="form-control form-control-sm" placeholder="Buscar ..." aria-controls="dataTable"></label>
                                   <button class="btn btn-primary" type="button">
                                       <i class="fas fa-search fa-sm"></i>
                                </button>-->

                                <br />
                                <br />

                            </div>
                        </div>


                </div>





                <thead>
                    <tr>
                        <th>#</th>


                        <th>Mes</th>



                        <th>Odontologo</th>


                        <th>Monto </th>
                        <td>Estado</td>
                        <td>-</td>

                    </tr>
                </thead>
                <tfoot>
                    <tr>
                    </tr>
                </tfoot>
                <tbody>

                    <td>id</td>

                    <td>Enero 2020</td>


                 <td>Nombre</td>
                            

                            <td>800000</td>
                            <td>Pagado</td>

                            <td>
                            </td>
                        </tr>
                    
                    </tbody>

                <tbody>

                    <td>id</td>

                    <td>Febrero 2020</td>


                    <td>Apellidos</td>


                    <td>800000</td>
                    <td>Pagado</td>


                    <td>
                    </td>
                    </tr>

                </tbody>

                <tbody>

                    <td>id</td>

                    <td>Marzo 2020</td>


                    <td>Apellidos</td>


                    <td>800000</td>
                    <td>Pagado</td>

                    <td>
                    </td>
                    </tr>

                </tbody>
                </tbody>

                <tbody>

                    <td>id</td>

                    <td>Abril 2020</td>


                    <td>Apellidos</td>


                    <td>800000</td>
                    <td>Pagado</td>

                    <td>
                    </td>
                    </tr>

                </tbody>

                <tbody>

                    <td>id</td>

                    <td>Mayo 2020</td>


                    <td>Apellidos</td>


                    <td>800000</td>
                    <td>Pagado</td>

                    <td>
                    </td>
                    </tr>

                </tbody>

                <tbody>

                    <td>id</td>

                    <td>Junio 2020</td>


                    <td>Apellidos</td>


                    <td>800000</td>
                    <td>Pagado</td>

                    <td>
                    </td>
                    </tr>

                </tbody>

                <tbody>

                    <td>id</td>

                    <td>Julio 2020</td>


                    <td>Apellidos</td>


                    <td>800000</td>
                    <td>Pagado</td>

                    <td>
                    </td>
                    </tr>

                </tbody>

                <tbody>

                    <td>id</td>

                    <td>Agosto 2020</td>


                    <td>Apellidos</td>


                    <td>800000</td>
                    <td>Pagado</td>

                    <td>
                    </td>
                    </tr>

                </tbody>

                <tbody>

                    <td>id</td>

                    <td>Septiembre 2020</td>


                    <td>Apellidos</td>


                    <td>    -    </td>
                    <td>    -    </td>

                    <td>
                    </td>
                    </tr>

                </tbody>

                <tbody>

                    <td>id</td>

                    <td>Octubre 2020</td>


                    <td>Apellidos</td>


                    <td>-</td>
                    <td>    -    </td>

                    <td>
                    </td>
                    </tr>

                </tbody>

                <tbody>

                    <td>id</td>

                    <td>Noviembre 2020</td>


                    <td>Apellidos</td>


                    <td>-</td>
                    <td>    -    </td>

                    <td>
                    </td>
                    </tr>

                </tbody>

                <tbody>

                    <td>id</td>

                    <td>Diciembre 2020</td>


                    <td>Apellidos</td>


                    <td>-</td>
                    <td>    -    </td>

                    <td>
                    </td>
                    </tr>

                </tbody>





                </table>
                <center>
                    <br />
                    <a href="@Url.Action("Index", "Remuneraciones")"><input type="button" value="Volver a Remuneraciones" class="btn btn-primary"></a>
                </center>
            </div>
        </div>
    </div>

</div>
<!-- /.container-fluid -->
</div>
<!-- End of Main Content -->
<!-- Footer -->
<!-- End of Footer -->
    </div>
<!-- End of Content Wrapper -->
  </div>
<!-- End of Page Wrapper -->
<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

<!-- Logout Modal-->
<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                <a class="btn btn-primary" href="login.html">Logout</a>
            </div>
        </div>
    </div>
</div>

<!-- Bootstrap core JavaScript-->
<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Core plugin JavaScript-->
<script src="vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Custom scripts for all pages-->
<script src="js/sb-admin-2.min.js"></script>

<!-- Page level plugins -->
<script src="vendor/datatables/jquery.dataTables.min.js"></script>
<script src="vendor/datatables/dataTables.bootstrap4.min.js"></script>

<!-- Page level custom scripts -->
<script src="js/demo/datatables-demo.js"></script>

</body>

</html>
